[Unit]
Description=Fill ARP Daemon
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=root
Group=root

EnvironmentFile=/etc/default/fillarpd
ExecStart=/usr/local/bin/fillarpd

Restart=on-failure
RestartSec=5s

# Security Hardening
ProtectSystem=full
PrivateTmp=true

[Install]
WantedBy=multi-user.target